*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family: 'Dosis', sans-serif;
	
}
/*
vh for resposiveness */
h1{
	font-size:3em;
}
h2{
	font-size:2em;
}
h3{
	font-size:1em;
}
.hero{
	background:url('pic.jpg') ;

	height:100vh;             
    display:flex;
 flex-direction:column;
 text-align:center;     /*   can use align-items*/
 justify-content:center;
 color:white;
	
}
.menu{
	position: sticky;
	top:0;
}
ul{
	width:100%;
	display: flex;
	background:linear-gradient(to bottom right,#2196F3,#009688);
	
	
	height:40px;
	justify-content: space-around;

}

.menu ul li{
	list-style:none;
	  display: inline-block;
}
.menu ul li a{
 text-decoration:none;
 color:white;
display: block;
 line-height:40px;
 padding: 0px 4px;

}

.services{
	width:100%;
	background-color:hsl(0,0%,95%);
	padding-top: 100px;
	padding-bottom:100px;
	text-align:center;
}
.ser:after{
	  content: "";
  background-color: red;
  color: red;
  width: 100px;
  display: block;
  height: 2px;
  margin: auto;
  margin-top: 10px;
}
.col-wrapper{
	width:90%;
	margin:auto;
	padding-top:50px
}
.services-col{
	width:33.33%;
	float:left;
	padding:10px 30px 10px 30px;
	box-shadow:0px 2px 4px 1px rgba(0,0,0,0.05);
}
.services-col img{
	width:80px;
	max-width:100%;
}

.col-wrapper::after{
	clear:both;
	display:table;
	content:"";
}
.aboutus{
	padding-top:100px;
	padding-bottom:100px;
 background-size: cover;
	background-image:url(test.jpg);
	text-align:center;
    background-attachment:fixed;
	background-repeat:no-repeat;	
	color:#fff;
	}
	
	.pabout{
		color:white;
		width:75%;
		margin:auto;
		background-color:rgba(0,0,0,0.5);
		margin-top:30px;
		font-size:1.1em;
	}
	.abutton{
		background:rgba(0,0,0,0.01);
	   padding:10px,15px,10px,15px;
	   margin-top:30px;
	   border:none;
	   outline:1px solid yellow;
	   color:#fff;
	   cursor:pointer;
	}
	
	
	
	.team{
		width:100%;
		padding-top:100px;
		padding-bottom:100px;
	text-align:center;
	background-color:hsl(0,0%,95%);


	}
	.team-wrapper{
		width:90%;
		padding-top:50px;
		margin:auto;
		
	}
	.col-team{
		width:33.33%;
		float:left;
		padding:10px,30px,10px,30px;
		float:left;
	}
	.col-team img{
		width:80%;
		max-height:100px;
		padding-bottom:5px;

	
	}
	.col{
		max-width:200px;
		max-height:170px;
		border:1px solid rgba(0,0,0,0.01);
		box-shadow:0px 2px 4px 1px rgba(0,0,0,0.05);
		padding:10px;
		
	}
.team-wrapper::after{
		
		display:table;
		clear:both;
		content:"";
		}
	
	.contact{
		width:100%;
		color:black;
		padding:30px 5px 30px 5px;
		background:linear-gradient(to bottom right,#2196F3,#009688);
		text-align:center;
	}
  .cta::after{
		content:"";
		clear:both;
		display:table;
	}
	
	.cta-col{
		width:33.33%;
		float:left;
	}
		.cta-col h3{
			display:inline;	
		}
			


.form{
	width:	100%;
padding:30px 5px 30px 5px;
text-align:center;
background-color:#fff;

}
.form::after{
	display:table;
	content:"";
	clear :both;
}
.form-col{
	width:35%;
	float:left;
	padding:30px 5px 30px 5px;
	text-align:center;
	border-radius: 20%;
	background:linear-gradient(to bottom right,#2196F3,#009688);
			
		}
		.form2{
	width:65%;
	padding:30px 5px 30px 5px;	
	float:left;
	padding-right:10%;
	}

.social{

	margin-top:30px;
	padding:15px;
	border:1px dotted black;
}
.socl

.f{
	
	color:white;
	padding:15px;
	background-color:blue;

	
}

.t{
	
	color:blue;

	
}

.i{

	color:red;
	background:pink;



}

.l{
	
	color:blue;
		background: lightblue;
	
}

.name{
	float:left;
	width:48%;
	margin-right:2%;
	text-align:left;
}
.fname, .femail{
	width:100%;
	height:35px;
	padding:0px 5px 0px 5px;
	border-radius: 4%;



}
.msg{
	width:100%;
	height:250px;
	border-radius: 4%;

	
}
.send{
	background-color:yellow;
	border:none;
	outline:none;
	padding:10px 30px;
	outline:1px solid black;
	margin-top:10px;
	cursor:pointer;
}
.fotter{
	background-color:#1b181f;
	color:#eee;
	width:100%;
	text-align: center;
}
.fotter{
	clear:both;
	content:"";
	display:table;
}
.fotter h1{
	color:#fff;
	margin-bottom:30px;
	
}
.footter-col{
	width:33.33%;
	float:left;
	padding:5px 10px 5px 10px;
}


a:hover{
	background: lightblue;
	border-radius: 3px;

}
input:focus{
  background-color: green;
}
textarea:focus{
  background-color: green;
}

 @media screen and (max-width: 500px){
.services-col{
		width:100%;
		padding-top:100px;
 }
 .col-team{
	 width:100%;
	 padding-top:100px;
 }
.cta-col{
	 
	 width:100%;
	 padding-top:100px;
 }

.form2
{
	 
	 width:100%;
	 padding-top:100px;
 }
 .form{
	  width:100%;
	 padding-top:100px;
	 
 }
  .form-col{
	  width:100%;
	 padding-top:100px;
	

 }
 .footter-col{
	width:100%;
	
}
 }
